
			body {
				background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SImAn91gin31gtxk/videoblocks-stock-market-financial-statistics-on-screen-share-pricing-online-trading-data-electronic-chart-with-stock-market-fluctuations_byprwtkrx_thumbnail-full12.png");
			}			
			
			#createHeader {
				font-size: 30px;
				text-align: center;						
			}
			
			form {				
				background:rgba(211,211,211,.85);
				width: 500px;
				height: 420px;	
				border-style: solid;
				border-radius: 5px;
				position: absolute;
				top:0;
				bottom: 0;
				left: 0;
				right: 0;

				margin: auto;				
			}
			
					
			#createSheet {
				text-align: center;
			}
			
			#email {
				width: 300px;
				height: 16px;
				border:1px solid black
			}
			
			#password {
				width: 300px;
				height: 16px;
				border:1px solid black
			}
			
			#termsOfService {
				margin-left: 2.5cm;
			}
			
			
			#createButton {
				background-color: green;
				height: 30px;
				width: 300px;
				border-style: solid;
				border-color: black;
			}
			
			#createButton:hover {
				background-color: white;
				height: 30px;
				width: 300px;
				border-style: solid;
				border-color: black;
			}
			
			
			
