.nav-link {
	background-color: initial;
	line-height: 1em;
    font-size: 15px;
	padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav-link.active {
	line-height: 1em;
    font-size: 15px;
	padding-top: 2.5px;
    padding-bottom: 2.5px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.tab-content { 
	height: 300px;
    width: 50%;
	margin: auto;
	padding: 10px;
	
}

.flex-column {
	border-right: solid;
	margin-left: 100px;
	padding-left: 50px;
	padding-right: 50px;
}

