.nav-link {
	background-color: initial;
	line-height: 1em;
    font-size: 15px;
	padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav-link-c {
    line-height: 1em;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tab-content { 		
	height: 2000;
	width: 750;
	position: left;
    right: 0px;
}

#v-pills-btc-eth-tab {
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    background: linear-gradient(to bottom right, #D3D3D3, white);
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#v-pills-btc-eth-tab:hover {
    background: linear-gradient(to bottom right, #808080, white);
}

#v-pills-btc-eth-tab:focus {
    background: linear-gradient(to bottom right, #303030, white);
}

#v-pills-btc-ltc-tab {
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    background: linear-gradient(to bottom right, #D3D3D3, white);
    -webkit-border-radius: 15px;
    border-radius: 15px;

}

#v-pills-btc-ltc-tab:hover {
    background: linear-gradient(to bottom right, #808080, white);
}

#v-pills-btc-ltc-tab:focus {
    background: linear-gradient(to bottom right, #303030, white);
}

#v-pills-btc-bch-tab {
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    background: linear-gradient(to bottom right, #D3D3D3, white);
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#v-pills-btc-bch-tab:hover {
    background: linear-gradient(to bottom right, #808080, white);
}

#v-pills-btc-bch-tab:focus {
    background: linear-gradient(to bottom right, #303030, white);
}

.flex-column {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-right: solid;
}


@media screen and ( max-width: 1920px ){
    #chart_div{
        width: 1000px;
        height: 400px;
    }
	#chart_div2{
        width: 1000px;
        height: 400px;
    }
}
@media screen and ( max-width: 1700px ) {
    #chart_div {
        width: 600px;
        height: 400px;
    }
	#chart_div2 {
        width: 600px;
        height: 400px;
    }
}
@media screen and ( max-width: 1000px ) {
    #chart_div {
        width: 500px;
        height: 300px;
    }
	#chart_div2 {
        width: 500px;
        height: 300px;
    }
}
