h1 {
	color: white;
  	font-size: 30px;
  	font-family: 'Arial';
	text-align: center;
}

body {
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SImAn91gin31gtxk/videoblocks-stock-exchange-statistics-on-screen-index-prices-growing-and-falling-trade-electronic-chart-with-stock-market-fluctuations_bk5mbky0e_thumbnail-full15.png");
}

button {
	background-color: #f1f1f1;
	float: left;
    	cursor: pointer;
    	border-top: none;
   	border: 1px solid #ccc;
    	transition: 0.3s;
}	 

button:hover {
   	background-color: #ddd;
}

button:active {
   	background-color: gray;
}
